* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f8fc;
    color: #172033;
}

nav {
    height: 70px;

    padding: 0 8%;

    background: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e5e7ee;
}

.logo {
    font-size: 23px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #5b5ce2;
    font-weight: bold;
}

main {
    padding: 60px 8%;
}

.subtitle {
    margin-top: 10px;
    color: #687386;
}

.dashboard-grid {
    margin-top: 40px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.dashboard-card {
    background: white;

    padding: 30px;

    border-radius: 15px;

    border: 1px solid #e5e7ee;

    transition: 0.2s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.dashboard-card div {
    font-size: 35px;

    margin-bottom: 20px;
}

.dashboard-card h2 {
    margin-bottom: 10px;
}

.dashboard-card p {
    color: #687386;

    line-height: 1.5;
}

@media (max-width: 900px) {
    .dashboard-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}
.dashboard-card {
    text-decoration: none;
    color: inherit;
    display: block;
}